@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* fonts from google form */
* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background: cover;
    border-radius: 16px;
    width: 100%;
    max-width: 1320px;
    margin-left: 114px;
    margin-right: 114px;
    margin-top: 41px;
    margin-inline: auto;
}

.banner .banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 145px 435px 45px;
}

.banner .banner-info {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 282px 200px;
}

.new-offer {
    margin: 98px 340px;
    width: auto;
    max-width: 800px;
    margin-inline: auto;
}

.offer-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 41px;
}

.offer-greetings {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.offer-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.party-section {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background: cover;
    border-radius: 16px;
    width: 100%;
    max-width: 1320px;
    height: 600px;
    margin-left: 114px;
    margin-right: 114px;
    margin-top: 41px;
    margin-bottom: 99px;
    margin-inline: auto;
}

.party-section-grouping {
    display: flex;
    align-items: center;

}

.party-section h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 53px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 7.04px;
    padding-top: 103px;
    padding-left: 103px;
}

.party-section p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 103px;
}

.party-section-img {
    padding: 55px 161px;
}

.party-section h6 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 39px;
    margin-left: 129px;
}